html{
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

html, body{
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: auto;
}

h2 {
  /* font-family: "Helvetica Neue"; */
  margin:0;
}

h3 {
  background-color: transparent;
  display: inline-flex;
}

a {
  background-color: transparent;
  display: inline-flex;
  /* padding: 10px */
}

.cls-main {

}


li {
  list-style: none;
}

button {
  style: none
}

ion-icon {
  color: black;
  name: "menu";
}

.color-vars {
}

:root {
  --foreground: rgb(var(--gray100));
  --foreground-muted: rgb(var(--gray60));
  --background: rgb(var(--gray0));
  --background-alternate: rgb(var(--gray5));
  --background-overlay: rgba(var(--gray80),0.33);
  --line: rgba(var(--gray60),0.2);
  --line-heavy: rgba(var(--gray60),0.66);
  --primary: rgb(var(--blue60));
  --primary-wash: rgb(var(--blue0));
  --primary-foreground: rgb(var(--gray0));
  --negative: rgb(var(--red60));
  --negative-foreground: rgb(var(--gray0));
  --positive: rgb(var(--green60));
  --positive-foreground: rgb(var(--gray0));
  --secondary: rgb(var(--gray0));
  --secondary-foreground: rgb(var(--gray100));
  --orange-wash: rgb(var(--darkorange));
  --green-wash: rgb(var(--darkgreen));
  /*color values*/
  --blue0: 245, 248, 255;
  --blue1: 56, 122, 236;
  --gray0: 255, 255, 255;
  --gray5: 238, 240, 243;
  --gray10: 222, 225, 231;
  --gray15: 206, 210, 219;
  --darkorange: 255,140,0;
  --darkgreen: 0,100,0;

  /*padding values*/
  --padding-0: 4px;
  --padding-1: 8px;
  --padding-2: 12px;
  --padding-3: 16px;
  --padding-4: 20px;
  --padding-5: 24px;
  --padding-6: 28px;
  --padding-7: 32px;
  --padding-8: 36px;
  --padding-9: 40px;
  --padding-10: 44px;
}

.div-features{

}

.padding-vars {
}

.container-0 {
  height: 500px;
  width: 100%;
  position: relative;
}


.container-1{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: transparent;
}

.container-2-about-text{
  display: flex;
  justify-content: center;
  align-self: center;
  width: 50%;
  max-width: 500px;
}

@media (min-width:1050px) and (max-width:1170px) {
  .container-0 {
    max-width: 450px;
  }
  .div-body-col {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
  }
}

/*!sc*/
@media (min-width:1000px) and (max-width:1049px) {
  .container-0 {
    max-width: 380px;
  }
  .div-body-col {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
  }
}

/*!sc*/
@media (max-width:320px) {
  .container-0 {
    width: 100%;
    max-width: 100%;
  }
  .div-body-col {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
  }
}

@media (min-width:1050px) and (max-width:1170px) {
  .container-0 {
    max-width: 450px;
  }
}

/*!sc*/
@media (min-width:1000px) and (max-width:1049px) {
  .container-2-about-text {
    max-width: 380px;
  }
}

/*!sc*/
@media (max-width:560px) {
  .container-2-about-text {
    width: 100%;
    max-width: 100%;
  }
}

.header-1{
  position: relative;
  z-index: 2;
  width: 100%;
  height: 104px;
}

.div-aaa {
  height: 0
}

.div-aab {
  width: 100%;
  border-bottom: 1px solid #ECEFF1;
  top: 0;
  background: #FFFFFF;
}

.div-aac {
  position: relative;
}

.div-aad {
  display: inline-block;
  padding: 15px 0;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.div-aba {
  display: block;
  align-items: right;
  justify-content: center;
  width: 100%;
  /* pointer-events: none; */
}

.div-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: inherit;

}

.div-body-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

.div-body-end {
  -webkit-box-pack: end;
  -webkit-justify-content: end;
  -ms-flex-pack: end;
  justify-content: end
}

.div-body-vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.div-body-vertical-bottom {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(+200%);
  transform: translateY(+200%);
}

.div-body-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.div-body-space-around {
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around
}

.div-body-space-evenly {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly
}

.div-body-stretch {
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}

.div-body-stretch-2 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch
}

.div-body-horizontal {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 1px
}

.div-body-col {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.div-body-row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row
}

.div-body-social-row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row
}

@media (max-width: 900px) {
  .div-body-row {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

.div-flex-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.div-flex-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.div-color-primaryWash {
  background-color: var(--primary-wash)
}

.div-color-primaryWash {
  background-color: var(--primary-wash)
}

.div-color-orangeWash {
  background-color: var(--orange-wash)
}

.div-color-greenWash {
  background-color: var(--green-wash)
}

/* .div-color-foreground {
  background-color: var(--foreground)
} */

/* .div-color-foregroundMuted {
  background-color: var(--foreground-muted)
} */

.div-card-radius {
  border-radius: 22px
}

.div-bordered {
  border: 2px solid ;
  border-color: lightgray;
}

.div-divider-color {
  background-color: lightgray
}

.color-primary {
  color: var(--primary)
}

.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
  background-color: #0052FF;
  padding-bottom: 2px;
  transform: translateY(-40px);
  animation: banner-webkit 300ms 0.133s cubic-bezier(0.6, 0, 0.15, 1);
  animation-fill-mode: forwards;
  cursor: pointer;
}

.banner-a {
  font-family: 'Helvetica Neue';
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.nav-content {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
}


.nav-icon {
  display: none;
}
.downloadButton{
display: inline-flex;
}

.nav-bar {
  overflow: visible;
  display: flex;
  flex: 5
}

.nav-bar a {
  float: left;
  display: inline-block;
  text-align: left;
  line-height: 15px;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 17px;
  /* background: white; */
}

.nav-bar.responsive a:hover {text-decoration: underline;;}

.added-items:focus {
  display: none;
}

@media only screen and (max-width: 900px){
  .nav-content: {
    display: none;
  }
  .downloadButton{
    display: block;
  }
  .added-items {
    display: contents;
  }
}

@media screen and (max-width: 900px){
  .nav-bar a {
    display: none;
  }
  .nav-icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px){
  .nav-bar.responsive {
    position: relative;
    /* display: block; */
    flex-direction: column;
  }
  .nav-bar.responsive .nav-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-bar.responsive a{
    float: left;
    display: block;
    text-align: left;
    /* background-color: antiquewhite; */
  }
}

/* .nav-c-a {
  line-height: 15px;
  display: inline-flex;
} */

.nav-c-bar {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
  flex: 2;
}

.nav-c-title {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Helvetica Neue';
  color: #0052FF;
}

.button-primary {
  position: relative;
  width: auto;
  margin: 0px;
  border-radius: 4px;
  font-weight: 500;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Helvetica Neue";
  padding: 10px 12px;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #0052FF;
  background-color: #0052FF;
}


.title-aab {
  margin: 0 18px;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

@media screen and (max-width: 900px){
  .title-aab {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
}

.nav-title-name {
  margin: 0;
  font-size: 18px;
  line-height: 16px;
  font-weight: 600;
  font-family: 'Helvetica Neue';
  font-weight: 500;
  line-height: 16px;
  color: #050F19;
  text-align: center;
}

/* Change color of nav title on hover */
.nav-title-name:hover {color: rgb(var(--blue1));}

.nav-dropdown-link {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  font-family: 'Helvetica Neue';
  font-weight: 500;
  line-height: 16px;
  color: #050F19;
  text-align: center;
}

.nav-c-img {
  position: relative;
  max-height: 100px;
}

.dropbtn {
  background-color: white;
  color: #387aec;
  padding: 16px;
  font-size: 18px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(var(--gray10));}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #e7e8f1;
}

.mobile-footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #e7e8f1;
  display: none;
}

@media screen and (max-width: 900px){
  .mobile-footer {
    display: contents;
  }
}

.footer-logo {
  width: 140px;
}

.page-layout {
  border-bottom: 1px solid var(--line);
  width: 100%;
}

.paragraph.footer-paragraph {
  font-size: 14px;
}

.margin-0 {
  margin: 0
}

.display-title-1 {
  font-size: 61px;
  line-height: 68px;
  font-weight: 400;
  /* font-family: monospace; */
}

@media screen and (max-width: 900px){
  .display-title-1 {
    font-size: 37px;
    line-height: 40px;
  }
}

.display-title-2 {
  font-size: 37px;
  line-height: 40px;
  font-weight: 400;
  color: rgb(var(--blue1))
  /* font-family: monospace; */
}

.display-title-3 {
  font-size: 31px;
  line-height: 44px;
  font-weight: 800;
  /* font-family: monospace; */
}

.display-title-4 {
  font-size: 28px;
  line-height: 44px;
  font-weight: 400;
  /* font-family: monospace; */
}

.display-text-body {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  /* font-family: monospace; */
  color: mediumslateblue;
}

.display-text-testimonial {
  color: rgb(var(--blue1));
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.display-text-testimonial-author {
  color: rgb(var(--blue1));
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin-top: var(--padding-4)
}

.display-text-1 {
  font-size: 25px;
  line-height: 32px;
  font-weight: 500;
  /* font-family: monospace; */
}

.display-text-2 {
  font-size: 25px;
  line-height: 32px;
  font-weight: 400;
  /* font-family: monospace; */
  color: black;
}

.display-text-3 {
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  /* font-family: monospace; */
  color: black;
}

/* @media screen and (max-width: 900px){
  .display-text-3 {
    font-size: 6vw;
    line-height: 9vw;
  }
} */

.display-text-4 {
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  /* font-family: monospace; */
}

.padding-1-left {
  padding-left: var(--padding-1)
}

.padding-2-left {
  padding-left: var(--padding-2)
}

.padding-3-left {
  padding-left: var(--padding-1)
}

.padding-4-left {
  padding-left: var(--padding-4)
}

.padding-5-left {
  padding-left: var(--padding-5)
}

.padding-1-right {
  padding-right: var(--padding-1)
}

.padding-2-right {
  padding-right: var(--padding-2)
}

.padding-3-right {
  padding-right: var(--padding-3)
}

.padding-4-right {
  padding-right: var(--padding-4)
}

.padding-0-top {
  padding-top: var(--padding-0)
}

.padding-1-top {
  padding-top: var(--padding-1)
}

.padding-3-top {
  padding-top: var(--padding-3)
}

.padding-5-top {
  padding-top: var(--padding-5)
}

.padding-6-top {
  padding-top: var(--padding-6)
}

.padding-10-top {
  padding-top: var(--padding-10)
}

.padding-1-bottom {
  padding-bottom: var(--padding-1)
}

.padding-2-bottom {
  padding-bottom: var(--padding-2)
}

.padding-3-bottom {
  padding-bottom: var(--padding-3)
}

.padding-4-bottom {
  padding-bottom: var(--padding-4)
}

.padding-5-bottom {
  padding-bottom: var(--padding-5)
}

.padding-6-bottom {
  padding-bottom: var(--padding-6)
}

.padding-7-bottom {
  padding-bottom: var(--padding-7)
}

.padding-8-bottom {
  padding-bottom: var(--padding-8)
}

.padding-9-bottom {
  padding-bottom: var(--padding-9)
}

.padding-10-bottom {
  padding-bottom: var(--padding-10)
}

.text-align-start {
  text-align: start
}

@media screen and (max-width:900px) {
  .text-align-start {
    text-align: center;
  }
}

.text-align-end {
  text-align: end
}

.text-align-center {
  text-align: center
}

.text-align-justify {
  text-align: justify
}

.text-uppercase {
  text-transform: uppercase
}

.textInherit-1 {
  font-size: inherit;
  line-height: inherit;
  -webkit-letter-spacing: inherit;
  -moz-letter-spacing: inherit;
  -ms-letter-spacing: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  font-family: inherit
}

.text-overflow {
  overflow: auto;
}

/*animations*/
.animation-1 {
  -webkit-transition: color 150ms ease-out, opacity 150ms ease-out;
  transition: color 150ms ease-out, opacity 150ms ease-out
}

.img-container{
  content: "img-1"
}

.img-container-2{
  display: inline-block;
  overflow: hidden;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  width: 100%;
}

.img-container-2 img {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    vertical-align: middle;
}

.img-container-2 img:hover {
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
    transform:scale(1.2);
}

.image-container-3 {
  width: 75px;
  height: 75px;
  position: relative;
}

.image-arrow {
  position: absolute;
  bottom: 0;
  left: 0;
}

.img-width-100 {
  width: 100%
}

.img-width-50 {
  width: 60%
}

.img-width-unset {
  width: unset;
}

.img-fit-cover {
  object-fit: cover;
}

.img-1 {
  max-width: 636px;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-download-apple {
    float: left;
    width:  200px;
    height: 67px;
    object-fit: cover;
}

.img-download-google {
    float: left;
    width:  200px;
    height: 95px;
    object-fit: cover;
}

.img-373 {
  max-width: 373px;
}

.img-100 {
  max-width: 100px;
}

.feature-img {
  width: 45%;
}

.feature-text {
  width: 55%;
}

@media screen and (max-width:900px){
  .img-width-50 {
    width: auto;
  }
  .feature-img {
    width: auto;
  }
  .feature-text {
    width: auto;
  }
  .img-1 {
    width: auto;
    height: auto;
  }
}




.layout-grid-highlights {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto;
  column-gap: var(--padding-5);
  row-gap: var(--padding-5);
  margin: auto;
  justify-content: center;
  list-style: none;
}
/*!sc*/
@media (max-width:900px) {
  .layout-grid-highlights {
    display: block;
  }
}


.layout-grid-socials {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.layout-grid-testomonial {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: var(--padding-4);
  row-gap: var(--padding-5);
  margin: auto;
  justify-content: center;
  list-style: none;
}

/*!sc*/
@media (max-width:900px) {
  .layout-grid-testomonial {
    grid-template-columns: repeat(1, 1fr);
    /* margin: 25px */
  }
}

.w-list-unstyled {
  padding-left: 0;
  list-style: none
}

.footer-mobile-content {
  overflow: hidden;
  text-align: left;
}

.footer-mobile-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-content-links {
  padding-top: 25px;
}

.footer-content-links {
  padding-top: 20px;
  padding-bottom: 40px;
}

.footer-content-links {
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-link.w--current {
  color: #387aec;
  line-height: 1.688em;
  font-weight: 400;
}

.footer-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: none;
  margin-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social-media-grid {
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-column-gap: 23px;
  -ms-grid-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-social-media-grid {
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.footer-social-media-grid {
  margin-top: 30px;
  justify-items: start;
}

.footer-social-media-grid {
  max-width: 240px;
  margin-bottom: 50px;
}

.link-trip-display {
  -webkit-text-decoration: none;
  text-decoration: none;
  cursor: pointer;
  background: 0 0;
  margin: 0;
  padding: 0;
  border: 0
}

.links-block {
  margin-bottom: 0px;
}

.links-block {
  margin-right: 3vw;
}

.links-block {
  width: 100%;
  margin-right: 0vw;
  border: 1px none #000;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block
}

/*!sc*/
@media (max-width:900px) {
  .footer {
    display: none;
  }
}


.social-media-wrapper {
  overflow: hidden;
  width: 44px;
  height: 44px;
  border-radius: 10px;
}

.social-media-wrapper.facebook {
  box-shadow: 0 11px 15px 0 rgba(24, 119, 242, 0.18);
  -webkit-transition: box-shadow 350ms ease, -webkit-transform 350ms ease;
  transition: box-shadow 350ms ease, -webkit-transform 350ms ease;
  transition: box-shadow 350ms ease, transform 350ms ease;
  transition: box-shadow 350ms ease, transform 350ms ease, -webkit-transform 350ms ease;
}

.social-media-wrapper.facebook:hover {
  box-shadow: 0 15px 15px 0 rgba(24, 119, 242, 0.18);
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

.social-media-wrapper.twitter {
  box-shadow: 0 11px 15px 0 rgba(29, 161, 242, 0.18);
  -webkit-transition: box-shadow 350ms ease, -webkit-transform 350ms ease;
  transition: box-shadow 350ms ease, -webkit-transform 350ms ease;
  transition: box-shadow 350ms ease, transform 350ms ease;
  transition: box-shadow 350ms ease, transform 350ms ease, -webkit-transform 350ms ease;
}

.social-media-wrapper.twitter:hover {
  box-shadow: 0 15px 15px 0 rgba(29, 161, 242, 0.18);
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

.social-media-wrapper.instagram {
  box-shadow: 0 11px 15px 0 rgba(140, 58, 170, 0.15);
  -webkit-transition: box-shadow 350ms ease, -webkit-transform 350ms ease;
  transition: box-shadow 350ms ease, -webkit-transform 350ms ease;
  transition: box-shadow 350ms ease, transform 350ms ease;
  transition: box-shadow 350ms ease, transform 350ms ease, -webkit-transform 350ms ease;
}

.social-media-wrapper.instagram:hover {
  box-shadow: 0 15px 15px 0 rgba(140, 58, 170, 0.15);
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

.social-media-wrapper.linkedin {
  box-shadow: 0 11px 15px 0 rgba(10, 102, 194, 0.17);
  -webkit-transition: box-shadow 350ms ease, -webkit-transform 350ms ease;
  transition: box-shadow 350ms ease, -webkit-transform 350ms ease;
  transition: box-shadow 350ms ease, transform 350ms ease;
  transition: box-shadow 350ms ease, transform 350ms ease, -webkit-transform 350ms ease;
}

.social-media-wrapper.linkedin:hover {
  box-shadow: 0 15px 15px 0 rgba(10, 102, 194, 0.17);
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}


/*!sc*/
@-webkit-keyframes banner-webkit {
  0% {
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/*!sc*/
@keyframes banner-webkit {
  0% {
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/*Slideshow*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/*!sc*/
@media (min-width:900px) {
  .mySlides {
    display: block;
  }
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*!sc*/
@media (min-width:900px) {
  .dot {
    display: none;
  }
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
